body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
#meal-ingredients {
    width: 100%; /* Breite auf 100% des Containers setzen */
    height: 150px; /* Höhe des Textfelds einstellen */
    padding: 10px; /* Innenabstand für mehr Platz innerhalb des Textfelds */
    font-size: 16px; /* Schriftgröße im Textfeld */
    box-sizing: border-box; /* Bezieht Padding und Border in die Gesamtgröße ein */
}

select {
    width: 50px;
}

button {
    margin-top: 10px;
    padding: 0px 10px;
    background-color: #088A85;
    color: white;
    letter-spacing: 1.3px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    height: 25px;
}

button:hover {
    background-color: #7b3edd;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.meal-list, .shopping-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.meal-item {
    position: relative; /* Ermöglicht das Positionieren des Buttons */
}

.edit-button {
    display: none; /* Standardmäßig verstecken */
    background-color: #088A85; /* Hintergrundfarbe für Bearbeiten-Button */
    color: white; /* Textfarbe */
    border: none; /* Keine Ränder */
    cursor: pointer; /* Zeiger ändern beim Hover */
    margin-right: 3px;
   
}

.delete-button {
    display: none; /* Standardmäßig verstecken */
    background-color: #ff4c4c; /* Rot für den Lösch-Button */
    color: white; /* Textfarbe */
    border: none; /* Keine Ränder */
    cursor: pointer; /* Zeiger ändern beim Hover */
    margin-left: 3px; /* Abstand zwischen den Buttons */
    
}

.meal-item:hover .edit-button,
.meal-item:hover .delete-button {
    display: inline-block; /* Zeige Bearbeiten- und Löschen-Button bei Hover an */
}

/* Die Buttons immer anzeigen, wenn die Bildschirmbreite 600px oder kleiner ist */
@media (max-width: 600px) {
    .edit-button,
    .delete-button {
        display: flex; /* Immer anzeigen */
    }
}

.button-container {
    display: inline; /* Benutze Flexbox für die Anordnung der Buttons */
    justify-content: flex-start; /* Links ausrichten */
    align-items: center; /* Buttons vertikal zentrieren */
    margin-bottom: 20px; /* Abstand nach unten */
    height: auto;
}

.download-button,
.upload-button {
    background-color: #A9D0F5; /* Farbe für Download/Upload */
    color: midnightblue; /* Textfarbe */
    border: none; /* Keine Ränder */
    margin-right: 10px; /* Abstand zwischen den Buttons */
    cursor: pointer; /* Zeiger ändern beim Hover */
    border-radius: 7px; /* Abgerundete Ecken */
    font-size: 16px; /* Schriftgröße */
    
    flex: 1; /* Flex für gleiche Breite */
    display: flex; /* Flexbox für zentrierte Inhalte */
    align-items: center; /* Buttons vertikal zentrieren */
}



.download-button:hover,
.upload-button:hover {
    background-color: #E2A9F3; /* Dunklere Farbe bei Hover */
}



@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    button {
        width: 100%; /* Schaltflächen über die gesamte Breite */
    }
}
